<header>
  <nav class="pa3" role="navigation">
    <div class="fl w-third pa2 no-underline">
      <a class="no-underline cf tc link navy bg-lightest-blue ba br-pill shadow-hover pa2 tc f6 dib mr2" href="/archives" title="Archives">About</a>
    </div>
    <div class="fl w-third pa2 no-underline">
        <a class="link navy cf tc w-100 pa2 tc f4 mr2 dib" href="/" title="Home">{{ site.title }}</a>
    </div>
    <div class="fr w-third pa2 no-underline">
      <a class="cf fr w-100 link bg-lightest-blue ba navy w-auto br-pill shadow-hover pa2 tc f6 dib" href="/" title="pill">Pill</a>
      <a class="cf fr w-100 link bg-lightest-blue ba navy w-auto br-pill shadow-hover pa2 tc f6 dib mr2" href="{{ site.baseurl }}/grid.html" title="grid">Grid</a>
    </div>
  </nav>
</header>
